//.careers-page {    // careers overview page
//    .left-right-content-section.position-right .content-area {
//        width: 35% !important;
//    }
//    .left-right-content-section.position-right .content-area h3 {
//        font-size: 30px !important;
//    }
//    .left-right-content-section.position-right .content-area h3 {
//        margin: 0;
//        font-size: 27px !important;
//    }
//    p {
//        font-size: .97em !important;
//        line-height: 1.3 !important;
//    }
//    @media screen and (max-width: 1300px) {
//        .left-right-content-section.position-right .content-area {
//            float: left !important;
//            width: 41% !important;
//            margin-right: 0 !important; 
//        }
//    }
//    @media screen and (max-width: 900px) {
//        margin-bottom: 60px;
//        .left-right-content-section.position-right .content-area,
//        .left-right-content-section .image-area {
//            width: 100% !important;
//            min-width: 100% !important;
//        }
//        .image-area {
//            padding-bottom: 20px !important;
//            height: auto !important;
//            bottom: 0 !important;
//            left: 0 !important;
//        }
//    }
//}


#careers-panel {
    width: 60%;
    .button {
        margin-top: 20px;
    }
    h3 {
        margin:10px 0 15px;
    }
    h5 {
        margin:10px 0;
    }
    a {}
    @media screen and (max-width: 900px) { 
            width: 48.5%;
            margin: 0;
            padding: 25px;
    }
    @media screen and (max-width: 650px) {    
            width: 100%;
            margin: 20px 0;
    }
}

#filter-sidebar-element {
    width: 100%;
    background-color: $background-light-grey;
    max-width: 400px;
    min-width: 230px;
    padding: 30px;
    
    overflow: auto;
    .content-width {    
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content-width div {
        margin-left: 0;
    }
    .white-container {
        width: 100%;
        padding: 25px
    }
    h3 {
        margin: 0 0 15px;
    }
    input, select {
        border: none;
        border-radius: 0;
        border-left: solid 4px $form-box-accent;
        background-color: $form-box-grey;
        line-height: 35px;
        margin: 6px 0;
        padding-left: 10px;
        outline:none;
    }
    select {
        box-sizing: border-box;
        color: lighten($black, 10%);
        font-family: Arial, sans-serif;
        -webkit-border-radius: 0;
        border-radius: 0; 
        background: url("../../images/dropdown-arrow.png") right center no-repeat; 
        -webkit-appearance: button;
        background-color: $form-box-grey;
        border-left: solid 4px $form-box-accent;
    }
    input.whole, select.whole {
        width: 100%;
    }
    @media screen and (max-width: 900px) {  
            padding: 20px;
            margin-right: 50px;
    }
    @media screen and (max-width: 650px) {  
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 30px 0;
        float: none;
        .content-width {
            width: 90%;
            margin: auto;
        }
    }
}

#careers-single-module {
    width: 60%;
    .button {
        margin-top: 20px;
    }
    h3 {
        margin:10px 0 15px;
    }
    h5 {
        margin:10px 0;
    }
    #qualifications-column,#you-are-column {
        width: 50%;
        ul li {
            list-style: disc;
        }
    }
    @media screen and (max-width: 900px) {
            width: 48.5%;
            margin: 0;
            padding: 25px;
    }
    @media screen and (max-width: 650px) {    
            width: 100%;
            margin: 20px 0;
    }
}

#apply-sidebar-element {
    width: 20.2%;
    background-color: $background-light-grey;
    max-width: 400px;
    min-width: 230px;
    padding: 30px;
    
    overflow: auto;
    .content-width {    
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content-width div {
        margin-left: 0;
    }
    .white-container {
        width: 100%;
        padding: 25px
    }
    h3 {
        margin: 0 0 15px;
    }
    a.button {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    @media screen and (max-width: 900px) {  
            padding: 20px;
            margin-right: 50px;
    }
    @media screen and (max-width: 650px) {  
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 30px 0;
        float: none;
        .content-width {
            width: 90%;
            margin: auto;
        }
    }
}
