.product-content-area {

	padding-bottom:30px;

	.product-content {

	}

	.product-sidebar {

		padding-top: 90px;
	}
	
    @media screen and (max-width: 900px) {
	   width: 85%;
    }
	
    @media screen and (max-width: 550px) {
	   width: 75%;
    }
}

.free-demo-button {
	position: fixed;
	z-index: 100000;
    left: 0;
    margin-top: 32px;
    a {
        background-color: $white;
        line-height: 36px;
    }
    @media screen and (max-width: 1775px) {
	   transform: rotate(-90deg);
       transform-origin: top left;
        margin-top: 175px;
    }
}

@media screen and (max-width: 990px) {

    .content-area {
        h1 {
            font-size: 1.5em;
        }
        .product-sidebar {

            padding-top: 30px;
        }
        .free-demo-button {
            margin-top: 156px;
            a {
                line-height: 30px;
            }
        }
    }

}